* {
  margin: 0;
  padding: 0;
}
.modal-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border: 1px solid #000;
  background-color: #fff;
  margin: auto;
}
.form__inputs {
  margin-bottom: 10px !important;
}
